/* .info>p{
    color: white;
}
.info{
    text-align:initial;
    width: 500px;
    margin-left:40px;
    margin-top: -70px;
}

.infocontainer{
         display: flex;
         justify-content: space-between;
         margin-top: 80px;
         align-items: center;
}


.button{
    margin-top: 35px;
}

.image{
    margin-right: 40px;
}

.b1{
    border:none
}

.b2{
border:2px solid white,

} */
 .body{
    display: flex;
    justify-content: center;
    align-items: center;
 }

.container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 60px;
    flex-wrap: wrap;
    height: auto;
    max-height: 900px;
    width: 80vw;
    overflow-y: scroll;
   
}

.imgcontainer{

    width: 80vw;
    max-height: 900px;
    height: auto;
    overflow-y: scroll;
    background-color: rgba(46, 46, 46, 0.212);
    padding: 15px;
    display: none;
    border-radius: 10px;
}

.imgcontainer::-webkit-scrollbar{
    background-color: transparent;
}
.container::-webkit-scrollbar{
    background-color: transparent;
}
.postContainer{
    width: 900px;
    height: auto;
    /* border: 1px solid white; */
    background-color: rgba(46, 46, 46, 0.212);
    /* background-color: transparent; */
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 30px;
    cursor: pointer;
   
}

.delete{
    transition: all .3s ease-in-out;
    opacity: 0;
    cursor: pointer;
}
.postContainer:hover .delete{
      opacity: 1;
}

.postHeading{
    color: white;

}
.postMessage{
    color: rgb(224, 224, 224);
    text-align: justify;
}

.addPost{
    font-size: 15px;
    border: none;
    background-color:rgb(22 22 22);
    float: right;
    margin-right: 20px;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    position: absolute;
    right: 20px;
    top: 94px;
    display: flex;
    align-items: center;
    color: #d1d1d1;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.addPost:hover{
    background-color:rgb(37, 37, 37);
    
    
}
